* {font-family: Helvetica, Arial, sans-serif;}
body { background-image: url("images/brick_wall_bg1.jpg");
    background-size: contain;}
#hamMenu{ display: none;}
.menu {background-color: #999999;}
nav a { text-decoration: none;
    font-weight: bold;
    background-image: url("images/book3.jpg");
    background-size: contain;
    display: inline-grid;
    font-size: 1.8em;
    text-align: center;
    width: 16%;
    height: 7%;
    padding-top: 8px;}
nav a:link { color: #DDDD00;}
nav a:visited { color: #5500AA;}
nav a:visited:hover {color: #AA0000;}
nav a:hover { color: #DD0000;}
nav a:focus { color: #DD0000;}

#banner{ width: 60%;
    height: 15%;
    display: inline-block;}
#logo{ width: 25%;
    height: 15%;
    display: inline-block;}
#moreButton{display: inline-grid;}
#exMenu{ display: none;}


/*-----------------------------------------
--------- FOOTER---------------------------
-----------------------------------------*/
footer{ background-color: #BBBBBB;
    width: 98%;
    margin: auto;}
#county{ margin: auto;}
#countyBanner{ width: 100%;
    height: 20%;
    frameborder: 0;
    background-color: #FFFFFF;
    margin: auto;}
 #map{ width: 100%;
     height: 35%;
     frameborder: 0;
     border: 0;
     display: block;}
 #mapDiv{ display: block;
     margin: auto;
    width: 100%;}
 #mapLink{ display: none;}
 .links { text-decoration: none;}
 .links:link { color: #288be4; }
 .links:visited { color: #5500AA;}
 .links:visited:hover {color: #AA0000;}
 .links:hover { color: #DD0000;}
 .links:focus { color: #DD0000;}
 td{ border-bottom: 3px solid #000000;}
 h4{ color: #550000;
    font-size: 1.8vw;}

#mostFooter{ margin: auto;
    display: block;}
.catalogBut{ display: inline-flex;
    flex-wrap: row wrap;
    margin: auto;
    margin-left: 5%;}
.contactInfo{ display: inline-flex;
    flex-wrap: row wrap;
    margin: auto;
    margin-left: 5%;}
#contactInfoList { list-style-type: none;}
#desktopPhone{display: inline;}
#mobilePhone{ display: none;}
.maps{ display: inline-flex;
    flex-wrap: row wrap;
    margin: auto;
    margin-left: 5%;}
.hours{ display: inline-flex;
    flex-wrap: row wrap;
    margin: auto;
    margin-left: 5%;}
.support{ display: block;
    width: 90%;
    margin: auto;}
#supportBlurb{ margin: auto;
    text-align: center;}
/* Down Arrow: &#9660*/
/* target="_blank" for a new tab */


/* -----------------------------------------
    ---------------Tablet-------------------
-----------------------------------------*/
@media only screen and (max-width: 1024px) {
    *{ font-size: 3vw;}
    nav{ display: none;
        width: 100%;
        height: 70%;
        margin: auto;}
    nav a { display: block;
        width: 100%;
        height: 10%;
        font-size: 7vw;
        text-align: center;
        margin-left: auto;
        margin-bottom: 10px;}
    #hamMenu{ display: block;
        width: 10%;
        height: 5%;
        margin-left: auto;}
    #moreButton{ display: none; }
    #exMenu{ display: block;}
    #logo{ width: 30%;
        height: 15%;}
    #banner { width: 65%;
            height: 15%;}
    .col2{display: none;}



    #map{ display: none;}
    #mapLink{ display: block;
        margin: auto;
        text-decoration: none;
        font-weight: bold;
        background-image: url("images/book3.jpg");
        background-size: contain;
        font-size: 3vw;
        text-align: center;
        padding: 5px;}
    #mapLink:link { color: #288be4; }
    #mapLink:visited { color: #5500AA;}
    #mapLink:visited:hover {color: #AA0000;}
    #mapLink:hover { color: #DD0000;}
    #mapLink:focus { color: #DD0000;}
    h4{ font-size: 3.2vw; }

}


/* -----------------------------------------
    ---------------Phone-------------------
-----------------------------------------*/
@media only screen and (max-width: 768px) {

    nav{ display: none;
        width: 100%;
        height: 70%;
        margin: auto;}
    nav a { display: block;
        width: 100%;
        height: 10%;
        font-size: 2em;
        text-align: center;
        margin-left: auto;
        margin-bottom: 7px;}
    #hamMenu{ display: block;
    margin-left: auto;}
    #moreButton{ display: none; }
    #exMenu{ display: block;}
    #logo{ display: block;
        margin: auto;
        width: 35%;
        height: 15%;}
    #banner { display: block;
        margin: auto;
        width: 95%;
        height: 15%;}

    .col2{display: none;}

/*------ Footer ----- */

    #map{ display: none;}
    #mapLink{ display: block;
        margin: auto;
        text-decoration: none;
        font-weight: bold;
        background-image: url("images/book3.jpg");
        background-size: cover;
        padding-top: 8px;
        font-size: 5vw;
        text-align: center;
        width: 30%;
        height: 7%;}
    #mapLink:link { color: #288be4; }
    #mapLink:visited { color: #5500AA;}
    #mapLink:visited:hover {color: #AA0000;}
    #mapLink:hover { color: #DD0000;}
    #mapLink:focus { color: #DD0000;}
    #countyBanner{ width: 98%;
        height: 40%;
    margin: auto;}
        .catalogBut{ margin: auto;
            display: block;}
        .catalogIMG {margin: 0;
            text-align: center;
        display: block;}
        .contactInfo{margin: auto;
            display: block;}
        #contactInfoList {display: block;
            margin: auto;
            font-size: 4.2vw;}
        #contactInfoList li {display: block;
            margin: auto;
            font-size: 4.2vw;}
        #contactInfoList a{ font-size: 4.2vw; }
        #desktopPhone{display: none;}
        #mobilePhone{ display: inline;}
        .maps{ margin: auto;
            display: block;}
        .hours{ display: block;
        margin: auto;}
        h4 {text-align: center;
            font-size: 5vw;}
        .hours table { margin: auto;}
        .hours td { font-size: 4.2vw;}
        .support{ display: block;
            margin: auto;
            width: 90%;}
        .support p{ text-align: center;
            font-size: 4vw;}
        .support a{ font-size: 4vw;}
}

/*
 <script type="text/javascript">
   function searchEncore(){
        var encoreBaseURLInput,encoreBaseURL, searchInput, scopeInput, searchString, scopeString, locationHref, charRegExString, base64Regex;
       /*base64_encoding_map includes special characters that need to be
        encoded using base64 - these chars are "=","/", "\", "?"
        character : base64 encoded *//*
        var base64_encoding_map = {"=":"PQ==", "/": "Lw==", "\\":"XA==", "?":"Pw=="};

        var escapeRegExp = function(string) {
            return string.replace(/([.*+?^=!:${}()|\[\]\/\\])/g, "\\$1");
        }
       encoreBaseURLInput = document.getElementById("encoreBase");
       searchInput = document.getElementById("encoreSearchInput");

        if (searchInput && encoreBaseURLInput) {
            encoreBaseURL = encoreBaseURLInput.value;
            searchString = searchInput.value;
            for(var specialChar in base64_encoding_map) {
                charRegExString = escapeRegExp(specialChar);
                base64Regex = new RegExp(charRegExString, "g");
                searchString = searchString.replace(base64Regex, base64_encoding_map[specialChar])
            }
            searchString = encodeURIComponent(searchString);

            scopeInput = document.getElementById('encoreSearchLocation');


if (!searchString) {
  alert("Please input a search term and search again.");
		 return false;
}


            if (scopeInput) {
                scopeString = scopeInput.value;
            }

            if (scopeString) {
                scopeString = encodeURIComponent(scopeString);
                locationHref = encoreBaseURL + "C__S" + searchString + scopeString +  "__Orightresult__U";
            } else {
 locationHref = encoreBaseURL + "C__S" + searchString + "__Orightresult__U";

            }

			languageSetting = document.getElementById("encoreLanguage");

			if (languageSetting) {
				locationHref = locationHref + "?lang=" + languageSetting.value;
			}

            window.location.href = locationHref;
        }
        return false;
    }
</script>
<form action="?" onsubmit="return searchEncore()" _lpchecked="1">

	<!-- REQUIRED with id="encoreSearchInput" -->
    <input id="encoreSearchInput" type="text">

    <!-- REQUIRED INPUT with id="encoreBase": <ENCORE_FQDN> fully qualified domain name such as "encore.mylibrary.com" -->
    <input type="hidden" id="encoreBase" value="http://search.midhudsonlibraries.org/iii/encore/search/">

    <!-- OPTIONAL search location hidden field to limit to a predefined scope -->
    <!-- <input type="hidden" id="encoreSearchLocation" value="__Lf:facetcollections:<Scope_#>:<Scope_#>:<Scope Label>::" /> -->

	<!-- OPTIONAL non-english language setting: <Language_Code> is code such as "spi" for spanish -->
	<!-- <input type="hidden" id="encoreLanguage" value="<Language_Code>" /> -->


    <input type="submit" value="SUBMIT">
</form> */
